<h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p>

<%= form_for :article, url: update_article_path(@article), method: "put" do |f| %>

    <%= f.text_field :title %>
    <%= f.text_area :content %>
    <%= f.submit "update article" %>
    <%= token_tag form_authenticity_token %>

<% end %>
